.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formInput{
    box-sizing: border-box;
    margin-right: 5px;
    width: 200px;
    height: 28px;

    font-size: 16px;
}

.formBtn{
    width: 200px;
    height: 28px;

    font-size: 14px;
    background-color: rgba(172, 185, 108, 0.748);
    border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: background-color .2s, transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.formBtn:hover{
    font-weight: 600;
    background-color: rgba(169, 194, 57, 0.954);
    transform: scale(1.04);
}

