td {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    color: #6e6e6e;
    border: 1px solid #ccc;
    cursor: pointer;
}

tr {
    transition: background-color 250ms ease-out 0s;
}

.contact_item:hover {
    background-color: rgb(218, 218, 218);
    transform: scale(1.02);
}

.listItemDelBtn{
    color: rgb(243, 25, 25);
    cursor: pointer;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.listItemDelBtn:hover{
    transform: scale(1.3);
    font-weight: 700;
}