.section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.sectionTitle{
    margin-bottom: 20px;
    color: rgb(126, 149, 23);
    font-weight: 700;
}